<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MPower App - Gain back your Android battery life! &middot; About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
    
    <div style="position:fixed; top:0px; left:0px;"><img src="images/beta_label.png"></div>
    
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="active"><a href="faq.html">FAQ</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="download.html">Download</a></li>
        </ul>
        <h3 class="muted">MPower (Beta)</h3>
      </div>

      <hr>

      <h2>Frequently Asked Questions</h2>
      
      <p>
        If you need information about MPower, please read this section before contacting us. Than, if you don't find what are you looking for, do not esitate! Send us an e-mail! 
      </p>

      </hr>
      
      <h3>Registration</h3>
      <blockquote>
        <p>Why do I need to login using Google? Will my password be saved?</p>
        <small>
          You need to register your phone to enable a secure data sending between your phone and our server. 
          Your password will not be saved, since the login/registration is performed by Google.
        </small>
      </blockquote>

      <blockquote>
        <p>What personal data are saved?</p>
        <small>
          We are saving just your email, your first name and your phone IMEI (the phone identifier) for identification purposes.
        </small>
      </blockquote>

      </br>


      <h3>Pricing</h3>
      <blockquote>
        <p>Is MPower a free app? Are you thinking to sell it in the future?</p>
        <small>
          MPower is a university project lead by the NECSTLab@POLIMI. For this reason it is and will be a free app.
        </small>
      </blockquote>

      </br>


      <h3>Supported devices</h3>
      
      <blockquote>
        <p>Is MPower available also for iOS, BlackBarry or Windows Phone?</p>
        <small>
          Nope. MPower started as (and still is) a university project. Android is the only choice if you are looking for an open source system that enable you to make all the experiments you need. Moreover, the other OS doesn't allow us to have all the intruments we neee like, for instance, backgound execution of processes.
        </small>
      </blockquote>

      <blockquote>
        <p>Are you planning to port MPower on other platform in the future?</p>
        <small>
          We're sorry but we do not have any plan in this direction right now.
        </small>
      </blockquote>

      </br>


      <h3>Data collection</h3>
      <blockquote>
        <p>What data are collected?</p>
        <small>
          We are collecting data about your phone internal status.
          We'll NEVER collect any personal data, browser history, gps positions, cookies, or any other sort of tracking data.
        </small>
      </blockquote>

      <blockquote>
        <p>The application is asking for a lot of permissions, why?</p>
        <small>
          We need a lot of permissions to read your phone internal status, but we are not modifying any behavior without your consent.
        </small>
      </blockquote>

      <blockquote>
        <p>Where are my data stored?</p>
        <small>
          Daily data are stored on your SD card and are then compressed and encrypted before the sending, thous ensuring the security of the overall system.
        </small>
      </blockquote>

      </br>


      <h3>Data sending</h3>
      <blockquote>
        <p>Do I need to send data manually?</p>
        <small>
          It is not necessary, the app daily sends all stored data automatically, if a data connection is available.
        </small>
      </blockquote>

      <blockquote>
        <p>What is the purpose of the button "Send data now"?</p>
        <small>
          You can click on the send data now button if you want to force a data sending immediately.  This was done mainly for debug purposes and will probably be changed on later versions.
        </small>
      </blockquote>

      <blockquote>
        <p>When are the data sent?</p>
        <small>          
          Data are sent daily, whenever it is available a wifi connection.
        </small>
      </blockquote>      

      <blockquote>
        <p>I rarely connect to wifi, will my data get lost?</p>
        <small>
          No at all, after 2 days without a wifi connection available, data are sent over the mobile network (2G/3G). 
          If you don't want to use your mobile connection, you can disable this feature through the application preferences.
        </small>
      </blockquote>


      <blockquote>
        <p>I have pressed the "Send data now" button, but a message said "No data to send", why?</p>
        <small>
          It is only possible to send data related to previous days, not about the current day. 
          If the message "No data to send" appears, it means that the phone has automatically sent your previous data.
        </small>
      </blockquote>

      </br>


      <h3>Security</h3>
      <blockquote>
        <p>Are my data encrypted before they are sent?</p>
        <small>
          Yes, they are encrypted using an asymmetrical cryptographic algorithm to ensure that no data was being manipulated.
        </small>
      </blockquote>


      </br>

      <h3>Suggestions</h3>
      <blockquote>
        <p>What type of suggestions can MPower propose?</p>
        <small>
          MPower issues a notification if wifi, or bluetooth or GPS is enabled but not in use.
        </small>
      </blockquote>

      <blockquote>
        <p>Can I disable suggestions?</p>
        <small>
          Yes, in the application preferences it is possible to disable each type of suggestion separately.
        </small>
      </blockquote>

      <blockquote>
        <p>Can I change the delay before a notification is shown?</p>
        <small>
          Sure, just enter the application preferences and change the delay time for each type of notification.
        </small>
      </blockquote>

      </br>

      <h3>Web site</h3>
      <blockquote>
        <p>I have just sent my data, but they are not visible on the website, why?</p>
        <small>
          It is not an immediate process, data are elaborated at fixed times during the day. 
          If you happen to can't view your data even after several hours after the sending, please let us know (you need to be logged in before reporting an issue).
        </small>
      </blockquote>

      <blockquote>
        <p>On the website, can I see all the data that are I have sent?</p>
        <small>
          Yes, all your data are visible on the website, and only you are entitled to view them.
        </small>
      </blockquote>

      </br>
      </hr>

      <!-- FOOTER -->
      <hr>
      <div class="footer">
        <div class="row-fluid">
          <div class="span6">
            <p>&copy; NECST Laboratory - Politecnico di Milano - 2013</p>
          </div>
          <div class="span6">
            <p class="text-right"><a href="issues_report.html">Issues report</a> - <a href="publications.html">Publications</a> - <a href="privacy.html">Privacy</a></p>
          </div>
        </div>
      </div>  
      <!-- END FOOTER -->        


    </div> <!-- /container -->

<!-- Inizio Codice Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42729744-1', 'necst.it');
      ga('send', 'pageview');
    </script>
    <!-- Fine Codice Google Analytics -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>

    